.barrel {
  background: #fff;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  width: 45%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nunito', sans-serif;

  &__title {
    font-weight: bold;
  }

  &__price {
    color: #4a4a4a;
    font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  }
}