.faq-item {

  &__question {
    margin: 15px;
    cursor: pointer;
    position: relative;

    &-arrow {
      position: absolute;
      right: 0;
    }

    &-trash {
      position: absolute;
      right: 25px;
    }
  }
  &__container-content {
    min-height: 50px;
    width: 100%;
    background: #fff;
    padding: 15px;
  }
}